{% extends "base.html" %}
{% block content %}
    <div class="row">
        <h1>Profile</h1>
        <hr>
    </div>

    <div class="row">
        <dl class="sub-nav">
            <dt>Subnav:</dt>
            {% for item in subnav %}
                <dd {% if title == item %} class="active" {% endif %}>
                    <a href="/user/{{ username }}/{{ item }}">{{ item }}</a>
                </dd>
            {% endfor %}
        </dl>
    </div>

    <div class="row">
        <div class="small-10 columns">
            {% block statscontent %} {% endblock %}
        </div>

        <div class="small-2 columns">
            <div class="row">
                <div class="small-12 small-centered column">
                    <img src="{{ url_for('static', filename='img/eagle-profile.jpg') }}" border="5">
                </div>
            </div>

            <div class="row">
                <div class="small-12 small-centered column">
                    <h2>gdisastery</h2>
                </div>
            </div>

            <div class="row">
                <div class="small-12 small-centered column">
                    <ul class="small-block-grid-4">
                        <a href="">CF</a>
                        <a href="">TC</a>
                        <a href="">HR</a>
                        <a href="">CC</a>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="small-12 small-centered column">
                    <ul class="small-block-grid-4">
                        <a href="">Twitter</a>
                        <a href="">Facebook</a>
                        <a href="">LinkedIn</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $('#pl-usage').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: 'Programming Language Usage'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Programming Language Usage',
                    data: [
                        ['C++', 45.0],
                        ['Java', 26.8],
                        {
                            name: 'C#',
                            y: 12.8,
                            sliced: true,
                            selected: true
                        },
                        ['Python', 8.5],
                        ['Pascal', 6.2],
                        ['Others', 0.7]
                    ]
                }]
            });
        });


    </script>

    <script>
        $(function () {
            $('#oj-usage').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: 'Online Judge Usage'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Online Judge Usage',
                    data: [
                        ['CF', 45.0],
                        ['TC', 26.8],
                        {
                            name: 'CC',
                            y: 12.8,
                            sliced: true,
                            selected: true
                        },
                        ['UV', 8.5],
                        ['HR', 6.2],
                        ['Others', 0.7]
                    ]
                }]
            });
        });


    </script>
    {# {% if accounts %}
                {% for account in accounts %}
                    <div class="row">
                        {{ account.oj }}:  <a href="{{ account.url }}">{{ account.handle }}</a>
                    </div>
                {% endfor %}
            {% endif %}#}

{% endblock %}